In [1]:
a = input()
print(a)

2435
2435

In [3]:
a = input("Enter a = ")
print(a)
print(type(a))

Enter a = 3545
3545
<class 'str'>

In [ ]:
a = int(input("Enter a = "))
b = int(input("Enter b = "))
c = a+b
print(c)

In [ ]:
# type casting
#int() float() str() bool()
a = 10
str(a)

In [3]:
a = '10'
print(float(a))

10.0

In [8]:
a = 2
bool(a)

True

In [11]:
#WAP to calculate SI
p = int(input("Enter p = "))
t = float(input("Enter t = "))
r = float(input("Enter r = "))

i = p*t*r/100
print("The value of i = ",i)

Enter p = 10000
Enter t = 2.5
Enter r = 10
The value of i =  2500.0

In [12]:
b = "ball"
"Apple" + b + str(2)

TypeError: can only concatenate str (not "int") to str

In [14]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = "Hello World I am " + name + " I am from " + add + " I am " + str(age)
print(info)

Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Hello World I am Ram I am from Kathmandu I am 78

In [ ]:
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
napali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + napali
per = total/5

print("The total = ",total)
print("The per = ",per)