In [1]:
# Dictionary
# Indexing
# Multiple and duplicate data
# ordered
# Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>,<key>:<value>,<key>:<value>}

In [4]:
d = {'a':'Appple','b':'Ball','c':'Cat','d':'Dog','f':'fish'}
print(d)
type(d)

{'a': 'Appple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'f': 'fish'}

dict

In [6]:
d = {'a':'Appple','b':'Ball','c':'Cat','d':'Dog','f':'fish'}
print(d['a'])
print(d['b'])

Appple
Ball

In [7]:
d = {'a':'Appple','b':'Ball','c':'Cat','d':'Dog','f':'fish','a':'Ant'}
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'f': 'fish'}

In [9]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [11]:
# WAP to create a dictionary taking name and phone as input value
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    d[name] = phone
    print(d)

Enter n = 2
Enter name = Apple
Enter phone = 9808778765
{'Apple': '9808778765'}
Enter name = Shyam
Enter phone = 9808778765
{'Apple': '9808778765', 'Shyam': '9808778765'}

In [14]:
d = {'Ram': '9808778765', 'Shyam': '9808778765'}
d['Hari'] = 9808778765
d

{'Ram': '9808778765', 'Shyam': '9808778765', 'Hari': 9808778765}

In [15]:
d = {'Ram': '9808778765', 'Shyam': '9808778765', 'Hari': 9808778765}
for i in d:
    print(i)

Ram
Shyam
Hari

In [16]:
d = {'Ram': '9808778765', 'Shyam': '9808778765', 'Hari': 9808778765}
for i in d.values():
    print(i)

9808778765
9808778765
9808778765

In [17]:
d = {'Ram': '9808778765', 'Shyam': '9808778765', 'Hari': 9808778765}
for i in d.items():
    print(i)

('Ram', '9808778765')
('Shyam', '9808778765')
('Hari', 9808778765)

In [18]:
# remove or delete key values
#del pop()
d = {'Ram': '9808778765', 'Shyam': '9808778765', 'Hari': '9808778765'}

del d['Ram']
d

{'Shyam': '9808778765', 'Hari': '9808778765'}

In [20]:
d = {'Ram': '9808778765', 'Shyam': '9808778765', 'Hari': '9808778765'}
a = d.pop('Ram')
print(d)
print(a)

{'Shyam': '9808778765', 'Hari': '9808778765'}
9808778765

In [ ]:
# list inside dictionary
d = {'Ram': [9808778765,9808667654], 
     'Shyam': [9808778765,9808778765], 
     'Hari': [9808778765,9808778765]}

In [21]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = input("Enter ntc phone no = ")
    ncell_phone = input("Enter ncell phone no = ")
    d[name] = [ntc_phone,ncell_phone]
    print(d)

Enter n = 2
Enter name = Ram
Enter ntc phone no = 9808778765
Enter ncell phone no = 980889876
{'Ram': ['9808778765', '980889876']}
Enter name = Shyam
Enter ntc phone no = 9845667654
Enter ncell phone no = 9808667654
{'Ram': ['9808778765', '980889876'], 'Shyam': ['9845667654', '9808667654']}

In [22]:
d = {'name':['Ram','Shyam','Hari'],
    'age':[34,56,43],
    'add':['Kathmandu','Bhaktapur','Lalitpur']}
d

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [34, 56, 43],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [23]:
#list inside dict
d = {'name':[],'age':[],'add':[]}

n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    d['name'].append(name)
    d['age'].append(age)
    d['add'].append(add)
print(d)

Enter n = 2
Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
{'name': ['Ram', 'Shyam'], 'age': ['89', '89'], 'add': ['Kathmandu', 'Bhaktapur']}

In [29]:
# Reading values
d = {'Ram': [9808778765, 984889876], 'Shyam': [98045667654, 9848667654]}
print(d['Ram'][0])
print(d['Shyam'][1])

9808778765
9848667654

In [31]:
d = {'name':['Ram','Shyam','Hari'],
    'age':[34,56,43],
    'add':['Kathmandu','Bhaktapur','Lalitpur']}
d

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [34, 56, 43],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [32]:
print(d['name'][0],d['age'][0],d['add'][0])

Ram 34 Kathmandu

In [33]:
# dict inside dict

In [34]:
d = {1:{'name':'Ram','age':34,'add':'Kathmandu'},
    2:{'name':'Shyam','age':64,'add':'Bhaktapur'},
    3:{'name':'Hari','age':84,'add':'Lalitpur'}}
d

{1: {'name': 'Ram', 'age': 34, 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': 64, 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': 84, 'add': 'Lalitpur'}}

In [35]:
#list inside dict
d = {}

n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    d[i] = {'name': name, 'age': age, 'add': add}
    
print(d)

Enter n = 2
Enter name = Ram
Enter age = 67
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bhaktapur
{1: {'name': 'Ram', 'age': '67', 'add': 'Kathmandu'}, 2: {'name': 'Shyam', 'age': '89', 'add': 'Bhaktapur'}}

In [1]:
d = {1: {'name': 'Ram', 'age': '67', 'add': 'Kathmandu'}, 
     2: {'name': 'Shyam', 'age': '89', 'add': 'Bhaktapur'}}
d[3] = {'name': 'Hari', 'age': '49', 'add': 'Bhaktapur'}
d

{1: {'name': 'Ram', 'age': '67', 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': '89', 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': '49', 'add': 'Bhaktapur'}}

In [2]:
d[1]['name'] = 'Ram Prasad'
d

{1: {'name': 'Ram Prasad', 'age': '67', 'add': 'Kathmandu'},
 2: {'name': 'Shyam', 'age': '89', 'add': 'Bhaktapur'},
 3: {'name': 'Hari', 'age': '49', 'add': 'Bhaktapur'}}

In [3]:
del d[1]
print(d)

{2: {'name': 'Shyam', 'age': '89', 'add': 'Bhaktapur'}, 3: {'name': 'Hari', 'age': '49', 'add': 'Bhaktapur'}}