In [2]:
# # Python collection
# list
# tuple
# dictionary
# set

In [3]:
# # List
# -Indexing
# -Multiple and duplicate
# -Ordered
# -Mutable

In [5]:
a = [1,2,3,4,5,6,7,8,9]
b = ["Apple","Ball","Cat","Fish","Egg"]
print(type(a))
print(type(b))
print(a)
print(b)

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['Apple', 'Ball', 'Cat', 'Fish', 'Egg']

In [9]:
l = ["Apple","Ball","Cat","Fish","Egg","Apple"]
print(l[0])
print(l[0:4])
print(l[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Fish']
['Apple', 'Cat', 'Egg']

In [10]:
l = ["Apple","Ball","Cat","Fish","Egg","Apple"]
print(l)

['Apple', 'Ball', 'Cat', 'Fish', 'Egg', 'Apple']

In [11]:
# Operators
# * +

In [12]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
a = [1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# append() insert() extend()

In [1]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
print(l)

Enter n = 5
Enter x = 243
Enter x = 456
Enter x = 34
Enter x = 567
Enter x = 345
[243, 456, 34, 567, 345]

In [2]:
l = [243, 456, 34, 567, 345]
l.append(400)
l

[243, 456, 34, 567, 345, 400]

In [3]:
l = [243, 456, 34, 567, 345]
l.insert(1,100)
l

[243, 100, 456, 34, 567, 345]

In [4]:
l = [243, 456, 34, 567, 345]
a = [1,2,3,4]
l.extend(a)
l

[243, 456, 34, 567, 345, 1, 2, 3, 4]

In [5]:
#max() min() sum() sort() reverse()
l = [243, 456, 34, 567, 345, 1, 2, 3, 4]
print("Max value = ",max(l))
print("Min value = ",min(l))
print("Total Sum = ",sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Max value =  567
Min value =  1
Total Sum =  1655
[1, 2, 3, 4, 34, 243, 345, 456, 567]
[567, 456, 345, 243, 34, 4, 3, 2, 1]

In [11]:
a = ["Ball","Cat","Apple","Zebra","ant","Egg"]
a.sort()
print(a)

['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant']

In [12]:
# Read
l = ['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant']
for i in l:
    print(i)

Apple
Ball
Cat
Egg
Zebra
ant

In [14]:
l = ['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant']
if "Apple" in l:
    print("Yes there is ")
    print(l.count("Apple"))
else:
    print("No there is not.")

Yes there is
1

In [15]:
# WAP to search any values in a list having no case sensitivity

In [16]:
# delete values
# del pop() remove()

In [17]:
l = ['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant']
del l[0]
print(l)

['Ball', 'Cat', 'Egg', 'Zebra', 'ant']

In [19]:
l = ['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant']
del l[0:3]
print(l)

['Egg', 'Zebra', 'ant']

In [21]:
l = ['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant']
a = l.pop(1)
print(l)
print(a)

['Apple', 'Cat', 'Egg', 'Zebra', 'ant']
Ball

In [23]:
l = ['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant',"Ball"]
l.remove('Ball')
l

['Apple', 'Cat', 'Egg', 'Zebra', 'ant', 'Ball']

In [ ]:
# WAP to remove multiple duplicate value from list

In [25]:
# Update
l = ['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant',"Ball"]
l[0] = "APPLE"
l

['APPLE', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant', 'Ball']

In [29]:
l = ['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant',"Ball"]
l[0:2] = ["APPLE","BALl"]
l

['APPLE', 'BALl', 'Cat', 'Egg', 'Zebra', 'ant', 'Ball']

In [11]:
# WAP to search any values in a list having no case sensitivity
c = 0
l = ['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant',"Ball","Apple"]
value = input("Enter value = ")
for i in l:
    if i.lower() == value.lower():
        c = c+1
print("Yes",c)

Enter value = apple
Yes 2

In [13]:
# WAP to remove multiple duplicate value from list
l = ['Apple', 'Ball', 'Cat', 'Egg', 'Zebra', 'ant',"Ball","Apple"]
c = l.count("Apple")
for i in range(c):
    l.remove("Apple")
l

['Ball', 'Cat', 'Egg', 'Zebra', 'ant', 'Ball', 'Apple']

In [16]:
# list inside list
l = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(type(l))

<class 'list'>

In [24]:
print(l[2])
print(l[1][1])

[7, 8, 9]
5

In [25]:
info = [["Ram",34,"Kathmandu"],
       ["Shyam",78,"Bhaktapur"],
       ["Hari",45,"Lalitpur"]]
info

[['Ram', 34, 'Kathmandu'],
 ['Shyam', 78, 'Bhaktapur'],
 ['Hari', 45, 'Lalitpur']]

In [26]:
info[0]

['Ram', 34, 'Kathmandu']

In [27]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info.append([name,age,add])
info

Enter n = 2
Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = lalitpur

[['Ram', 78, 'Kathmandu'], ['Shyam', 89, 'lalitpur']]

In [29]:
info.append(['Nabin',34,"Lalitpur"])
info

[['Ram', 78, 'Kathmandu'],
 ['Shyam', 89, 'lalitpur'],
 ['Nabin', 34, 'Lalitpur']]

In [32]:
#Update
a = [['Ram', 78, 'Kathmandu'],
     ['Shyam', 89, 'lalitpur'],
     ['Nabin', 34, 'Lalitpur']]
a[0][0] = "Rama"
a

[['Rama', 78, 'Kathmandu'],
 ['Shyam', 89, 'lalitpur'],
 ['Nabin', 34, 'Lalitpur']]

In [33]:
#del
a = [['Ram', 78, 'Kathmandu'],
     ['Shyam', 89, 'lalitpur'],
     ['Nabin', 34, 'Lalitpur']]
del a[0]
a

[['Shyam', 89, 'lalitpur'], ['Nabin', 34, 'Lalitpur']]

In [37]:
a = [['Ram', 78, 'Kathmandu'],
     ['Shyam', 89, 'lalitpur'],
     ['Nabin', 34, 'Lalitpur']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Shyam
['Shyam', 89, 'lalitpur']

In [38]:
a = [['Ram', 78, 'Kathmandu'],
     ['Shyam', 89, 'lalitpur'],
     ['Nabin', 34, 'Lalitpur']]
name = input("Enter name = ")
for i in a:
    if i[0].lower() == name.lower():
        print(i)

Enter name = ram
['Ram', 78, 'Kathmandu']