In [4]:
# !pip install mysql-connector

In [2]:
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
database = "python_class3pm"
)
db = database.cursor()

In [3]:
db.execute("SELECT * FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Sabin', 90, 90, 77, 56, 90, 400.0, 80.0, 'A')
(2, 'Nabin', 90, 90, 77, 56, 90, 400.0, 80.0, 'A')
(3, 'Rakesh', 78, 67, 89, 90, 78, 430.0, 83.0, 'A')

In [5]:
db.execute("SELECT sn,name,per,grade FROM student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Sabin', 80.0, 'A')
(2, 'Nabin', 80.0, 'A')
(3, 'Rakesh', 83.0, 'A')

In [ ]:
db.execute("SELECT sn,name,per,grade FROM student WHERE grade = 'A'")
result = db.fetchall()
for x in result:
    print(x)

In [6]:
#insert data into database
sql = '''INSERT INTO student (name,physics,chemistry,math,english,nepali,total,per,grade) 
         VALUES ('Nabin',89,78,73,85,78,430,83,'A')'''
db.execute(sql)
database.commit()

In [ ]:
name  = input("Enter name = ")
physics = int(input("Enter physics marks = "))
chemistry = int(input("Enter chemistry marks = "))
math = int(input("Enter math marks = "))
english = int(input("Enter english marks = "))
napali = int(input("Enter nepali marks = "))

total = physics + chemistry + math + english + napali
per = total/5
if per >=80:
    grade = "A"
elif per >= 60:
    grade = "B"
elif per >= 45:
    grade = "C"
else:
    grade = "D"
    
sql = f'''INSERT INTO student (name,physics,chemistry,math,english,nepali,total,per,grade) 
         VALUES ('{name}',{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')'''
db.execute(sql)
database.commit()

In [ ]:
# delete
sql = "DELETE FROM student WHERE sn = 5"
db.execute(sql)
database.commit()

In [ ]:
# update
sql = "UPDATE student SET grade = 'A' WHERE sn = 7"
mycursor.execute(sql)
db.commit()