In [1]:
# Set
# -No indexing
# -Multiple but no duplicate data
# -Unordered
# -Mutable

In [2]:
# s = set()
s = {1,2,3,4,5,6,7,8,9,0}
a = {"Apple","Ball","Cat","Dog","Fish"}
print(type(s))
print(type(a))

<class 'set'>
<class 'set'>

In [3]:
print(s)
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{'Ball', 'Dog', 'Apple', 'Cat', 'Fish'}

In [4]:
print(s[0])

TypeError: 'set' object is not subscriptable

In [5]:
s = {1,2,3,4,5,6,7,8,9,0,0,1,3,2,5,3,6,7,2,3,6,7}
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
a = {"Apple","Ball","Cat","Dog","Fish","Apple","Ball","Cat"}
print(a)
a

{'Ball', 'Dog', 'Apple', 'Cat', 'Fish'}

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}

In [8]:
a = {'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}
for i in a:
    print(i)

Ball
Dog
Apple
Cat
Fish

In [ ]:
# Operators
# No + *

In [9]:
a = {'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}
b = {1,2,3,4,5,6,7,8,9,0}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [10]:
a = {'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}
print(a*2)

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [12]:
# add()
a = set()
a.add("Apple")
a.add('Ball')
a

{'Apple', 'Ball'}

In [13]:
a = {'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}
b = {1,2,3,4,5,6,7,8,9,0}
a.update(b)
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Cat', 'Ball', 'Dog', 'Apple', 'Fish'}

In [14]:
a = {'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}
a.remove('Apple')
a

{'Ball', 'Cat', 'Dog', 'Fish'}

In [ ]:
# # datatypes inside set
# inside set no mutable datatype (list,dict,set)
# inside set only imutable datatype (string,tuple)

In [23]:
# Set for math
apple = {"Steave","Job","Shyam","John","Sameer","Sankar","Akash","Nabin"}
ms = {"Ram","Hari","Satya","Gates","Sameer","Akash","John","Nita","Sobit"}
U = {'Steave', 'Shyam', 'Akash', 'John', 'Sobit', 'Nabin', 'Ram', 'Nita', 
     'Sameer', 'Sankar', 'Gates', 'Satya', 'Job', 'Hari',"xyz","abc"}

#intersection
print(apple.intersection(ms))

#union
print(ms.union(apple))

#difference
print("Employers workin only in Apple",apple - ms)
print("Employers workin only in MS",ms - apple)

print("Employers not workin in Apple and Microsoft", U - apple.union(ms))

{'Akash', 'Sameer', 'John'}
{'Steave', 'Shyam', 'Akash', 'John', 'Sobit', 'Nabin', 'Ram', 'Nita', 'Sameer', 'Sankar', 'Gates', 'Satya', 'Job', 'Hari'}
Employers workin only in Apple {'Steave', 'Shyam', 'Nabin', 'Sankar', 'Job'}
Employers workin only in MS {'Sobit', 'Ram', 'Nita', 'Gates', 'Satya', 'Hari'}
Employers not workin in Apple and Microsoft {'xyz', 'abc'}

In [24]:
# subset()
# superset()

In [26]:
a = {1,2,3,4,5,6,7,8,9}
b = {3,5,6,7}
print(a.issuperset(b))          #boolean function
print(a.issubset(b))          #boolean function

True
False

In [27]:
a = {1,2,3,4,5,6,7,8,9}
b = {11,44,66,77,}
a.isdisjoint(b)

True