In [1]:
# string
a = 'Hello World'
b = "Hello World"
c = '''Hello World'''
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'str'>
<class 'str'>

In [2]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [4]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [5]:
a = input("Enter a = ")
print(a)

Enter a = Hello
Hello

In [20]:
a = "Hello World"
print(a[0])
print(a[1])
print(a[-1])

print(a[0:6])
print(a[0:11:2])

H
e
d
Hello
HloWrd

In [15]:
a = "Hello World"
a[-1:0:-1]

''

In [17]:
a = "Hello World"
print(a[::-1])

dlroW olleH

In [22]:
name = "Ram"
age = 34
add = "Kathmandu"

info = "Hello World I am "+name+" I am from " + add + " I am "+ str(age)
print(info)

Hello World I am Ram I am from Kathmandu I am 34

In [23]:
# string formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")

info = f"Hello World I am {name}. I am from {add}. I am {age}."
print(info)

Enter name = Ram
Enter age = 89
Enter add = Kathmandu
Hello World I am Ram. I am from Kathmandu. I am 89.

In [2]:
bill = ""
grand_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = float(input("Enter quantity = "))
    total = price * quantity
    bill = bill + f"{name} {price} {quantity} {total}\n"
    grand_total = grand_total + total
    
print(bill)
print(grand_total)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 4
Enter name = Banana
Enter price = 100
Enter quantity = 2
Apple 300 4.0 1200.0
Banana 100 2.0 200.0

1400.0

In [4]:
a = "Python"
l = len(a)
for i in range(l):
    print(a[i])

P
y
t
h
o
n

In [6]:
i = 0
a = "Python"
while i<len(a):
    print(a[i], end = "")
    i = i +1

Python

In [9]:
a = "Ram Shyam Hari Sita Gita"
name = input("Enter name = ")

if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name = Ram
Yes
1

In [14]:
a = "Ram Shyam Hari Sita Gita Ramesh".lower()
name = input("Enter name = ").lower()

if name in a:
    print("Yes")
    print(a.count(name))
else:
    print("No")

Enter name = ram
Yes
2

In [13]:
a = "Ram Shyam Hari Sita Gita Ramesh"
print(a.lower())
print(a.upper())

ram shyam hari sita gita ramesh
RAM SHYAM HARI SITA GITA RAMESH

In [16]:
# replace
a = "Ram Shyam Hari Sita Gita Ramesh"
print(a.replace("Ram","ram"))
print(a)

ram Shyam Hari Sita Gita ramesh
Ram Shyam Hari Sita Gita Ramesh

In [17]:
# replace
a = "Ram Shyam Hari Sita Gita Ramesh"
print(a.replace("Ram",""))
print(a)

 Shyam Hari Sita Gita esh
Ram Shyam Hari Sita Gita Ramesh

In [19]:
a = "ram shyam hari sita gita ramesh"
print(a.title())

Ram Shyam Hari Sita Gita Ramesh

In [21]:
a = "ram shyam hari sita gita ramesh"
print(a.isupper())

False

In [22]:
a = "ram shyam hari sita gita ramesh"
print(a.islower())

True