In [1]:
# # tuple
# -Indexing
# -Multiple and duplicate
# -Ordered
# -IMutable

In [3]:
a = (1,2,3,4,5,6,7,8,9,10)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [6]:
a = (1,2,3,4,5,6,7,8,9,10,1)
print(a[0])
print(a[0:9])
print(a[0:9:2])

1
(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 3, 5, 7, 9)

In [7]:
# No append() insert() extend()

# No update

# No delete del pop() remove()

# No sort() reverse()

In [11]:
# a = tuple()
a = (1,)
print(type(a))

<class 'tuple'>

In [12]:
a = (1,2,3,4)
b = (5,6,7,8)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

In [13]:
a = (1,2,3,4)
print(a*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [14]:
t = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t + (x,)
print(t)

Enter n = 5
Enter x = 123
Enter x = 345
Enter x = 567
Enter x = 234
Enter x = 567
(123, 345, 567, 234, 567)

In [16]:
a = (123, 345, 567, 234, 567)
b = list(a)
del b[0]
a = tuple(b)
a

(345, 567, 234, 567)